@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body .ConfirmationBackground{
  background-image: url("../test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  background-size: cover;
  /* background: rgb(34,193,195); */
  /* background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
  font-family: "work sans";
}

html{
  font-size: 100%;
}

#loginform{
  max-width: 500px;
  min-width: 350px;
  /* max-height: 700px; */
  width: 50%;
  height: 60%;
  margin: 100px auto;
  background-color: rgba(255, 255,255, 0.8);
  border-radius: 25px;
}
.titleDejuandro{
  text-align: center;
  margin-top: 30px;
  font-size: 250%;
  font-family: Brush Script MT;
  
}
.title{
  
  text-align: center;
  margin-top: 10px;
  font-size: 250%;
  font-family: Brush Script MT;
}
.text-input{
  border-radius: 10px;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
  margin-bottom: -25px;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}
.select{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
  margin-left: 7%;
  margin-right: 7%;
  max-width: 90%;
}
.information-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
  margin-left: 7%;
  margin-right: 7%;
  max-width: 90%;
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(255, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}
.flower-container{
  justify-content: center;
  display: flex;
  margin-top: -1rem;
  margin-bottom: -3rem;
}
.flower{
  max-width: 40%;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 3rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row input{
  font-size: medium;
  opacity: 0.8;
}

.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: rgb(77, 77, 77);
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgb(255, 220, 226) 0%,     rgb(255, 192, 203) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}
.row buttonCopyRek{  
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgb(132, 228, 255) 0%,     rgb(97, 86, 255) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}
.note{
  text-align: center;
  color: rgb(118, 118, 118);
  padding-left: 10px;
  padding-right: 10px;
} 
.noteSelesai{
  text-align: center;
  color: rgb(118, 118, 118);
  padding:20px;
}
.LoveLoading{
  max-width: 200px;
}
.qrcode_rek{
  max-width: 50%;
}

#button{
  padding-bottom: 1.5rem;
}

#facebookIcon{
  background-image:      url("https://image.flaticon.com/icons/svg/145/145802.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#twitterIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145812.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#googleIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145804.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
}


